<template>
  <div class="hello">

    <h1 :class="[nilai > 1 ? 'lulus' : 'tidakLulus']">Nilai : {{ nilai }}</h1>
      <h2 v-if="nilai > 1">SIP </h2>
      <h2 v-else>belajar lagi cuk</h2>
      <div v-for="(soal, indexsoal) in questions">
        <h2>{{indexsoal+1}}) {{soal.deskripsi}} </h2>
        <div v-for="(pilihans, indexpiilhan) in soal.pilihan">
          <input type="radio" @click="checkAnswer(indexsoal, indexpiilhan)" :value="pilihans[0]" :name="indexsoal">
          <span v-text="pilihans[0]"></span>
        </div>
      </div>

      <h3>Jawaban Yang Benar : </h3>
      <ul>
        <li v-for="no_soal in jawabanBenar">No. {{ no_soal+1 }}</li>
      </ul>

  </div>

</template>

<script>


import SoalComponent from '@/components/soalUjian'
export default {
    name:'Controlleroriginal',
    components:{
      SoalComponent
    },
    data() {
      return{
        nilai: 0,
        jawabanBenar : [],
        jawabanSalah : [],
        questions : [
          {
            deskripsi : "Siapa nama panggilan syarif?",
            pilihan : [
              ["surip", true],
              ["suripe"],
              ["bungu"],
              ["suripto"]
            ]
          },
          {
            deskripsi : "Dimana ibu kota jawabarat?",
            pilihan : [
              ["Jakarta"],
              ["Badung"],
              ["Bandung", true],
              ["Banjar"]
            ]
          },
          {
            deskripsi : "tujuh belas ditambah tujuh belas sama dengan ?",
            pilihan : [
              ["9999"],
              ["55"],
              ["34", true],
              ["77"]
            ]
          },
          {
            deskripsi : "dimana SMK 4 berada?",
            pilihan : [
              ["Jln singapore"],
              ["Jln klinik "],
              ["Jln kliningan ", true],
              ["Jln jalan aja say"]
            ]
          }
        ]
      }
    },
    methods:{
      checkAnswer(indexsoal, indexpiilhan) {
          if(this.questions[indexsoal].pilihan[indexpiilhan][1]){
            if(this.jawabanBenar.indexOf(indexsoal)== -1){
              this.jawabanBenar.push(indexsoal);
            }
            if(this.jawabanSalah.indexOf(indexsoal)!= -1){
              this.jawabanSalah.splice(this.jawabanSalah.indexOf(indexsoal),1);
            }
          }else{
            if(this.jawabanBenar.indexOf(indexsoal)!= -1){
              this.jawabanBenar.splice(this.jawabanBenar.indexOf(indexsoal),1);
              this.jawabanSalah.push(indexsoal);
            }else if(this.jawabanSalah.indexOf(indexsoal)!= -1){

            }else{
              this.jawabanSalah.push(indexsoal);
            }
          }
          this.nilai = this.jawabanBenar.length;
        }
    }
}
</script>

<style scoped>
</style>
